input {
  font-size: xx-large;
}

.navbar {
  display: flex;
  height:75px;
  background-color: lightslategray;
  justify-content: end;
  align-items: center;
  padding-right: 2%;
  margin-bottom: 10px;
  font-size: xx-large;
}

.form {
  display: flex;
  gap: 2%;
  font-size: xx-large;
}